## Sequence Tagging using Sequential Models

Sequence Tagging is an information extraction technique to identify and classify named entities in text. These entities can be pre-defined and generic like location names, organizations, time and etc...

In [46]:
import keras
keras.__version__

'2.3.0'

#### Desired Sample Output

<img src="https://miro.medium.com/max/2400/1*8LOMipM-fmszClg-AwATkQ.png">

### Files required are given in below link

https://drive.google.com/drive/folders/1m9JjfsAEN50flYwFPCgZWQ5nHXGt0ZwI?usp=sharing

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use("ggplot")

from google.colab import drive
drive.mount('/content/drive/')

project_path = "/content/drive/My Drive/AIML Notes/SequenceTagging/"
data_filename = "ner_dataset.csv.zip"

import zipfile
z = zipfile.ZipFile(project_path + data_filename, 'r')
z.extractall()
z.close()

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [48]:
import tensorflow as tf
print(tf.__version__)

1.14.0

In [49]:
pwd

'/content'

In [50]:
data = pd.read_csv("ner_dataset.csv", encoding="latin-1")
# data = data.drop(['POS'], axis =1)
# data = data.fillna(method="ffill")
data.head(30)

     Sentence #           Word  POS    Tag
0   Sentence: 1      Thousands  NNS      O
1           NaN             of   IN      O
2           NaN  demonstrators  NNS      O
3           NaN           have  VBP      O
4           NaN        marched  VBN      O
5           NaN        through   IN      O
6           NaN         London  NNP  B-geo
7           NaN             to   TO      O
8           NaN        protest   VB      O
9           NaN            the   DT      O
10          NaN            war   NN      O
11          NaN             in   IN      O
12          NaN           Iraq  NNP  B-geo
13          NaN            and   CC      O
14          NaN         demand   VB      O
15          NaN            the   DT      O
16          NaN     withdrawal   NN      O
17          NaN             of   IN      O
18          NaN        British   JJ  B-gpe
19          NaN         troops  NNS      O
20          NaN           from   IN      O
21          NaN           that   DT      O
22          NaN        country   NN      O
23          NaN              .    .      O
24  Sentence: 2       Families  NNS      O
25          NaN             of   IN      O
26          NaN       soldiers  NNS      O
27          NaN         killed  VBN      O
28          NaN             in   IN      O
29          NaN            the   DT      O

### Fill the NaN with Sentence tag to easily identify the words of a single sentence.

In [0]:
data = data.fillna(method="ffill")

### Drop POS column from dataset as we are only interested in tags for sentence tagging.

In [0]:
data = data.drop(['POS'], axis =1)

In [53]:
data.head(30)

     Sentence #           Word    Tag
0   Sentence: 1      Thousands      O
1   Sentence: 1             of      O
2   Sentence: 1  demonstrators      O
3   Sentence: 1           have      O
4   Sentence: 1        marched      O
5   Sentence: 1        through      O
6   Sentence: 1         London  B-geo
7   Sentence: 1             to      O
8   Sentence: 1        protest      O
9   Sentence: 1            the      O
10  Sentence: 1            war      O
11  Sentence: 1             in      O
12  Sentence: 1           Iraq  B-geo
13  Sentence: 1            and      O
14  Sentence: 1         demand      O
15  Sentence: 1            the      O
16  Sentence: 1     withdrawal      O
17  Sentence: 1             of      O
18  Sentence: 1        British  B-gpe
19  Sentence: 1         troops      O
20  Sentence: 1           from      O
21  Sentence: 1           that      O
22  Sentence: 1        country      O
23  Sentence: 1              .      O
24  Sentence: 2       Families      O
25  Sentence: 2             of      O
26  Sentence: 2       soldiers      O
27  Sentence: 2         killed      O
28  Sentence: 2             in      O
29  Sentence: 2            the      O

Now we can see from the above result that the same sentence words have same sentence id.

In [54]:
tags = list(set(data["Tag"].values))
n_tags = len(tags)
n_tags

17

In [55]:
print(tags)

['B-nat', 'I-geo', 'I-gpe', 'B-geo', 'B-gpe', 'B-art', 'I-art', 'I-org', 'I-tim', 'B-eve', 'B-per', 'B-org', 'I-nat', 'I-per', 'I-eve', 'O', 'B-tim']

In [56]:
words = set(list(data['Word'].values))
words.add('dummy')
n_words = len(words)
n_words

35179

### Groupby sentences and combining words and tags for each setence using groupby and apply on dataframe

In [0]:
combining_words_tags = lambda s: [(w, t) for w, t in zip(s["Word"].values.tolist(),s["Tag"].values.tolist())]
d = data.groupby("Sentence #").apply(combining_words_tags)

In [0]:
sentences = [s for s in d]

In [59]:
sentences[0]

[('Thousands', 'O'),
 ('of', 'O'),
 ('demonstrators', 'O'),
 ('have', 'O'),
 ('marched', 'O'),
 ('through', 'O'),
 ('London', 'B-geo'),
 ('to', 'O'),
 ('protest', 'O'),
 ('the', 'O'),
 ('war', 'O'),
 ('in', 'O'),
 ('Iraq', 'B-geo'),
 ('and', 'O'),
 ('demand', 'O'),
 ('the', 'O'),
 ('withdrawal', 'O'),
 ('of', 'O'),
 ('British', 'B-gpe'),
 ('troops', 'O'),
 ('from', 'O'),
 ('that', 'O'),
 ('country', 'O'),
 ('.', 'O')]

In [60]:
print(len(sentences))
sentences = sentences[:3200]

47959

### Map words and tags to integers

In [93]:
words2index = {w:i for i,w in enumerate(words)}
tags2index = {t:i for i,t in enumerate(tags)}
print(words2index['India'])
print(tags2index['B-geo'])

11063
3

#### Make all sentences equal length by appending a `dummy` token at the end of the sentence if the sentence is short. And if the sentence is long consider only `max_length` number of words from that sentence.

In [62]:
max_len = 30
X = [[w[0]for w in s] for s in sentences]
new_X = []
for seq in X:
    new_seq = []
    for i in range(max_len):
        try:
            new_seq.append(seq[i])
        except:
            new_seq.append("dummy")
    new_X.append(new_seq)
new_X[0]

['Thousands',
 'of',
 'demonstrators',
 'have',
 'marched',
 'through',
 'London',
 'to',
 'protest',
 'the',
 'war',
 'in',
 'Iraq',
 'and',
 'demand',
 'the',
 'withdrawal',
 'of',
 'British',
 'troops',
 'from',
 'that',
 'country',
 '.',
 'dummy',
 'dummy',
 'dummy',
 'dummy',
 'dummy',
 'dummy']

#### Similarly pad labels with `O` tag

In [63]:
from keras.preprocessing.sequence import pad_sequences
y = [[tags2index[w[1]] for w in s] for s in sentences]
y = pad_sequences(maxlen=max_len, sequences=y, padding="post", value=tags2index["O"])
y[0]

array([15, 15, 15, 15, 15, 15,  3, 15, 15, 15, 15, 15,  3, 15, 15, 15, 15,
       15,  4, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15], dtype=int32)

### Split the dataset into train and test sets

In [0]:
from sklearn.model_selection import train_test_split
X_tr, X_te, y_tr, y_te = train_test_split(new_X, y, test_size=0.2, random_state=10)

In [65]:
len(X_tr)

2560

In [66]:
np.array(X_tr).shape

(2560, 30)

In [67]:
np.array(y_tr).shape

(2560, 30)

### Using ELMO(Deep contextualized word representations) embeddings (like word2vec) as pre-trained word embeddings

Link to paper: https://arxiv.org/pdf/1802.05365.pdf

Importing these embeddings from tensorflow hub as given in this link - https://tfhub.dev/google/elmo/1

In [0]:
batch_size = 32
# import tensorflow as tf
import tensorflow_hub as hub
from keras import backend as K
sess = tf.Session()
K.set_session(sess)

In [25]:
tf.__version__, hub.__version__

('1.14.0', '0.6.0')

In [0]:
elmo_model = hub.Module("https://tfhub.dev/google/elmo/1", trainable=True)

In [0]:
def ElmoEmbedding(x):
    return elmo_model(inputs={
                            "tokens": tf.squeeze(tf.cast(x, tf.string)),
                            "sequence_len": tf.constant(batch_size*[max_len])
                      },
                      signature="tokens",
                      as_dict=True)["elmo"]

## Model

In [0]:
from keras.models import Model, Input
from keras.layers.merge import add
from keras.layers import LSTM, Embedding, Dense, TimeDistributed, Dropout, Bidirectional, Lambda, Flatten

In [29]:
input_text = Input(shape=(max_len,), dtype=tf.string)
embedding = Lambda(ElmoEmbedding, output_shape=(max_len, 1024))(input_text)
x = Bidirectional(LSTM(units=50, return_sequences=True, dropout=0.2))(embedding)
# x = Bidirectional(LSTM(units=50, return_sequences=True))(x)
out = TimeDistributed(Dense(n_tags, activation="softmax"))(x)

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

In [0]:
def custom_sparse_categorical_accuracy(y_true, y_pred):
    return K.cast(K.equal(K.max(y_true, axis=-1),
                          K.cast(K.argmax(y_pred, axis=-1), K.floatx())),
                  K.floatx())

In [0]:
model = Model(input_text, out)
model.compile(optimizer="adam", loss="sparse_categorical_crossentropy", metrics=[custom_sparse_categorical_accuracy])

In [0]:
# y_tr = (np.arange(y_tr.max()+1) == y_tr[...,None]).astype(int)
y_tr = y_tr.reshape(y_tr.shape[0], y_tr.shape[1], 1)

In [0]:
y_te = y_te.reshape(y_te.shape[0], y_te.shape[1], 1)

In [70]:
y_tr.shape

(2560, 30, 1)

In [71]:
y_te.shape

(640, 30, 1)

In [0]:
model.summary()

In [37]:
history = model.fit(np.array(X_tr), y_tr, batch_size=batch_size, epochs=1, verbose=1)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:431: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:431: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:438: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:438: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

Epoch 1/1
2560/2560 [==============================] - 533s 208ms/step - loss: 0.4884 - custom_sparse_categorical_accuracy: 0.8859

In [38]:
!pip install seqeval

Requirement already satisfied: seqeval in /usr/local/lib/python3.6/dist-packages (0.0.12)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from seqeval) (1.14.5)
Requirement already satisfied: Keras>=2.2.4 in /usr/local/lib/python3.6/dist-packages (from seqeval) (2.3.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from Keras>=2.2.4->seqeval) (1.12.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from Keras>=2.2.4->seqeval) (3.13)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from Keras>=2.2.4->seqeval) (2.8.0)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from Keras>=2.2.4->seqeval) (1.1.0)
Requirement already satisfied: scipy>=0.14 in /usr/local/lib/python3.6/dist-packages (from Keras>=2.2.4->seqeval) (1.3.1)
Requirement already satisfied: keras-applications>=1.0.6 in /usr/local/lib/python3.6/dist-packages (from Keras>=2.2.4->seqeval) (1.0.8)

In [72]:
np.array(X_te[:]).shape

(640, 30)

In [0]:
idx2tag = {i: w for w, i in tags2index.items()}

In [0]:
from seqeval.metrics import precision_score, recall_score, f1_score, classification_report

test_pred = model.predict(np.array(X_te[:32*10]), verbose=1)

idx2tag = {i: w for w, i in tags2index.items()}

def pred2label(pred):
    out = []
    for pred_i in pred:
        out_i = []
        for p in pred_i:
            p_i = np.argmax(p)
            out_i.append(idx2tag[p_i].replace("dummy", "O"))
        out.append(out_i)
    return out

In [0]:
def test2label(pred):
    out = []
    for pred_i in pred:
        out_i = []
        for p in pred_i:
            out_i.append(idx2tag[p[0]].replace("dummy", "O"))
        out.append(out_i)
    return out

In [0]:
pred_labels = pred2label(test_pred)

In [51]:
test_labels = test2label(y_te[:32*10])
print(classification_report(test_labels, pred_labels))

           precision    recall  f1-score   support

      org       0.08      0.01      0.02       141
      per       0.35      0.31      0.33        95
      tim       0.62      0.46      0.53       138
      gpe       0.69      0.56      0.62        97
      geo       0.54      0.58      0.56       242
      art       0.00      0.00      0.00         4
      eve       0.00      0.00      0.00         2
      nat       0.00      0.00      0.00         2

micro avg       0.53      0.40      0.46       721
macro avg       0.45      0.40      0.42       721

The score can be increased by considering full train data and increasing the epochs.

### To visualize tags on text

In [69]:
!pip install ipymarkup

Collecting ipymarkup
  Downloading https://files.pythonhosted.org/packages/d8/29/eaa1bcf649d6333dea829c05577c67f881d0555b6d77c1da72afda5c847d/ipymarkup-0.5.0-py2.py3-none-any.whl
Requirement already satisfied: intervaltree==2.1.0 in /usr/local/lib/python3.6/dist-packages (from ipymarkup) (2.1.0)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.6/dist-packages (from intervaltree==2.1.0->ipymarkup) (2.1.0)
Installing collected packages: ipymarkup
Successfully installed ipymarkup-0.5.0

In [0]:
from ipymarkup import show_box_markup
from ipymarkup.palette import palette, BLUE, RED, GREEN, ORANGE, PURPLE

In [0]:
test = X_te[2]
text = ' '.join(test)

spans = []
current_pos2 = 0
for index, i in enumerate(test):
  if index<max_len and i !="dummy":
    if len(idx2tag[y_te[2][index][0]].split('-'))>1:
      tag = idx2tag[y_te[2][index][0]].split('-')[1]
    else:
      tag = idx2tag[y_te[2][index][0]].split('-')[0]
    
    current_pos1 = current_pos2
    current_pos2 += len(i)+1
    if current_pos2 > current_pos1:
      spans.append( (current_pos1, current_pos2, tag) )

In [91]:
spans

[(0, 10, 'O'),
 (10, 14, 'O'),
 (14, 18, 'O'),
 (18, 23, 'O'),
 (23, 27, 'O'),
 (27, 36, 'O'),
 (36, 39, 'O'),
 (39, 43, 'O'),
 (43, 50, 'O'),
 (50, 54, 'O'),
 (54, 63, 'O'),
 (63, 73, 'tim'),
 (73, 76, 'O'),
 (76, 80, 'O'),
 (80, 88, 'O'),
 (88, 97, 'O'),
 (97, 105, 'O'),
 (105, 109, 'O'),
 (109, 116, 'geo'),
 (116, 123, 'O'),
 (123, 128, 'O'),
 (128, 135, 'O'),
 (135, 139, 'O'),
 (139, 146, 'gpe'),
 (146, 153, 'O'),
 (153, 155, 'O')]

In [92]:
show_box_markup(text, spans, palette=palette(tim=BLUE, geo=RED, gpe=ORANGE, O=PURPLE))

BoxMarkup('Officials say the bomb was attached to the tanker and exploded Wednesday as the vehicle traveled through the Khyber tribal area toward the Afghan border . dummy dummy dummy dummy',
          [Span(0, 10, 'O'),
           Span(10, 14, 'O'),
           Span(14, 18, 'O'),
           Span(18, 23, 'O'),
           Span(23, 27, 'O'),
           Span(27, 36, 'O'),
           Span(36, 39, 'O'),
           Span(39, 43, 'O'),
           Span(43, 50, 'O'),
           Span(50, 54, 'O'),
           Span(54, 63, 'O'),
           Span(63, 73, 'tim'),
           Span(73, 76, 'O'),
           Span(76, 80, 'O'),
           Span(80, 88, 'O'),
           Span(88, 97, 'O'),
           Span(97, 105, 'O'),
           Span(105, 109, 'O'),
           Span(109, 116, 'geo'),
           Span(116, 123, 'O'),
           Span(123, 128, 'O'),
           Span(128, 135, 'O'),
           Span(135, 139, 'O'),
           Span(139, 146, 'gpe'),
           Span(146, 153, 'O'),
           Span(153, 155, 'O')])